@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <style>
        body {
            background-color: #ffb3b3;
        }
    </style>
</head>
<body>
    <center>
        <img src="~/images/Fundal.png" width="80%" height="500" />
        <br />
        <br/>
        <br/>
        <img src="~/images/contact1.png" width="250" height="100" />
        <br />
        <img src="~/images/contact2.png" width="350" height="100" />
        <br />
        <img src="~/images/contact3.png" width="350" height="100" />

    </center>
</body>
</html>

